.form_content {
    width: 20%;
    padding: 25px;
    border: 2px solid grey;
    margin:30px;
}
.bill_content {
    margin: 30px;
    padding:15px;
    width: 50%;
    height: 90%;
    border: 2px solid grey;
}
.bill_content_inner {
    position: relative;
    height: 100%;
    width: 100%;
    padding:20px;
}