@{
    ViewBag.Title = "Main/Index";
}
<div class="text-center my-2 mx-2">
    <div class="row">
        <div class="col">
            <div class="shadow-none p-3 mb-5 bg-light rounded">
                <div class="card-body" style="font-weight:bolder;font-size:20px">
                    <i class="bi bi-bag" style="font-size: 1.6rem; margin-right:3px"></i><a class="link_design" href="/Inventory">Inventory</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="shadow-none p-3 mb-5 bg-light rounded">
                <div class="card-body" style="font-weight:bolder;font-size:20px">
                    <i class="bi bi-shop" style="font-size: 1.6rem; margin-right:3px"></i><a class="link_design" href="/Inventory">Searching</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="shadow-none p-3 mb-5 bg-light rounded">
                <div class="card-body" style="font-weight:bolder;font-size:20px">
                    <i class="bi bi-card-checklist" style="font-size: 1.6rem; margin-right:3px"></i>Notes
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center my-2 mx-2">
    <div class="row">
        <div class="col">
            <div class="shadow-none p-3 mb-5 bg-light rounded">
                <div class="card-body" style="font-weight:bolder;font-size:20px">
                    <i class="bi bi-card-checklist" style="font-size: 1.6rem; margin-right:3px"></i><a class="link_design" href="/Bill">Create Bill</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="shadow-none p-3 mb-5 bg-light rounded">
                <div class="card-body" style="font-weight:bolder;font-size:20px">
                    <i class="bi bi-receipt" style="font-size: 1.6rem; margin-right:3px"></i><a class="link_design" href="/Bill/Data?page=1">Data</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="shadow-none p-3 mb-5 bg-light rounded">
                <div class="card-body" style="font-weight:bolder;font-size:20px">
                    <i class="bi bi-calendar-date" style="font-size: 1.6rem; margin-right:3px"></i>Calendar
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <canvas id="myChart" width="80" height="20" class="my-2">
    </canvas>
</div>

